body {
            margin: 0;
            overflow: hidden;
			background-image:url('../img/western-style-food/background.png');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position:bottom;
			background-position-y: -190px;

        }
        #imageContainer {
            position: relative;
			height:1080px;
			
        }

        .draggable {
            position: absolute;
            cursor: grab;
        }

        dialog {
            border: none;
            box-shadow: 0 2px 6px #ccc;
            border-radius: 10px;
        }

        dialog::backdrop {
            background-color: rgba(0, 0, 0, 0.1);
        }

        #timer {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 36px;
			color:#FFF;
			opacity: 0.6;
        }

		#next{
			position: absolute;
            bottom: 20px;
            left: 10px;
            font-size: 36px;
		}
        #completeButton {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
        }
		#image1{
			top:43%;
			left:19.5%;
		}
		#image2{
			bottom:40%;
			left:12.5%;
		}
		#image3{
			bottom:40%;
			left:10.5%;
		}
		#image4{
			bottom:40%;
			left:14%;
		}
		#image5{
			bottom:38%;
			left:19.5%;
			z-index:2
		}
		#image6{
			bottom:40%;
			left:23%;
		}
		#image7{
			bottom:38%;
			left:12%;
		}
		#image8{
			bottom:38%;
			left:22%;
		}
		#image9{
			bottom:40%;
			left:15.5%;
		}
		#image10{
			bottom:40%;
			left:21%;
		}
		#image11{
			bottom:38%;
			left:14%;
		}
		#image12{
			bottom:40%;
			left:17%;
		}
		#image13{
			bottom:38%;
			left:16%;
		}
		#image14{
			bottom:50%;
			left:80%;
		}
		#image15{
			bottom:28%;
			left:82%;
			z-index:1;
		}
		#image16{
			bottom:25%;
			left:80%;
		}
		//圖片
		.btn-21,
		.btn-21 *,
		.btn-21 :after,
		.btn-21 :before,
		.btn-21:after,
		.btn-21:before {
			  border: 0 solid;
			  box-sizing: border-box;
		}
		.btn-21 {
			  -webkit-tap-highlight-color: transparent;
			  -webkit-appearance: button;
			  background-color: #000;
			  background-image: none;
			  color: #fff;
			  cursor: pointer;
			  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
				Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
				Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			  font-size: 100%;
			  font-weight: 900;
			  line-height: 1.5;
			  margin: 0;
			  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
			  padding: 0;
			  text-transform: uppercase;
		}
			.btn-21:disabled {
			  cursor: default;
		}
			.btn-21:-moz-focusring {
			  outline: auto;
		}
			.btn-21 svg {
			  display: block;
			  vertical-align: middle;
		}
			.btn-21 [hidden] {
			  display: none;
		}
		.btn-21 {
			width:150px;
			  border-radius: 1rem;
			  border-width: 2px;
			  overflow: hidden;
			  position: relative;
			  font-size:20px;
		}
		.btn-21 span {
			  mix-blend-mode: difference;
		}
		.btn-21:before {
			  -webkit-animation: move-out 0.3s;
			  animation: move-out 0.3s;
			  background: #fff;
			  content: "";
			  height: 100%;
			  left: -100%;
			  position: absolute;
			  top: 0;
			  width: 100%;
			  will-change: transform;
		}
		.btn-21:hover:before {
			  -webkit-animation: move-in 0.3s forwards;
			  animation: move-in 0.3s forwards;
		}
		@-webkit-keyframes move-in {
			  0% {
				transform: translateX(0);
			  }
			  to {
				transform: translateX(100%);
			  }
			}
		@keyframes move-in {
			  0% {
				transform: translateX(0);
			  }
			  to {
				transform: translateX(100%);
			  }
			}
		@-webkit-keyframes move-out {
			  0% {
				transform: translateX(100%);
			  }
			  to {
				transform: translateX(200%);
			  }
			}
		@keyframes move-out {
			  0% {
				transform: translateX(100%);
			  }
			  to {
				transform: translateX(200%);
			  }
		}
